/*base*/
@import 'base.css';
/*modules*/
@import 'header-footer.css';
/*layout*/
.table {
	height: calc(100% - 3rem);
}
.col {
	display: flex;
	margin: 0.5rem;
}
.row {
	display: flex;
	flex-wrap:wrap;
	width: 100%;
}
/*module*/
.logo
{
	height:2.5rem;
	margin:0.3rem;
}
.banner
{
	display:flex;
}
.banner__desc
{
	flex-grow:2;
}
.search {
	border: 0;
	border-radius: 0;
	height: 100%;
	padding: 0;
	width: calc(100% - 2rem);
}
.sort-toggle-button {
	display: none;
}
.sort-toggle-label {
	background-color: #45742D;
	background-image: url(../img/-.svg);
	background-size: 100% 100%;
	height: 100%;
	width: 2rem;
}
.table dt {
	background: #45742D;
	box-sizing: border-box;
	color: #fff;
	padding: 0.2rem 0.5rem;
}
.table dd.row:nth-of-type(2n+1) {
	background: #eee;
}
.table dd.row:nth-of-type(4n) {
	/*Is this useful?!! Rationale: the eye can only count to four, these lines help break up the chunks so that rows are easier to distinguish. More info at: https://www.youtube.com/watch?v=z4ikTCTAAHU&index=15&list=PL322BE87D5C05D1E9*/
	border-bottom: 0.1rem solid #222;
}
/*state*/
.sort-toggle-button:checked~.sort-toggle-label {
	background-image: url(../img/down.svg);
}
	/*small*/
.main {
	background-color:#f8f8f8;
	height: calc(100% - 10.5rem);
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
}
header {
	height: 9rem;
}
.col {
	width: calc(50% - 1rem);
}
@media only screen and (min-width : 768px) {
	/*medium*/
	.main {
		height: calc(100% - 7.5rem);
	}
	header {
		height: 6rem;
	}
	.col {
		width: calc(33.33% - 1rem);
	}
}
	/*large*/
@media only screen and (min-width : 1200px) {
	.main {
		height: calc(100% - 4.5rem);
	}
	header {
		height: 3rem;
	}
	.col {
		width: calc(16.66% - 1rem);
	}
}